<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Jolie">
         <property
               name="appName"
               value="Jolie">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="splash.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="jolie.xtext.product.splashHandlers.InteractiveSplashHandler"
            id="jolie.xtext.product.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
